### Regression with Scikit-learn using Soccer Dataset
#### Download the data from the kaggle

In [2]:
import numpy as np
import pandas as pd
import os
import sqlite3
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [3]:
os.getcwd()

'C:\\Users\\nipin\\Documents\\Python\\edx\\Soccer Data'

### Read Data from the database into Pandas

In [4]:
# Create connection
cnx = sqlite3.connect("database.sqlite")
df = pd.read_sql_query("SELECT * FROM player_Attributes",cnx)

In [5]:
df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [6]:
df.shape

(183978, 42)

In [7]:
df.columns

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

### Declare the column we want to use  as features

In [14]:
features = ['potential','crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes']

### Specify the target Variable

In [9]:
target = ["overall_rating"]

### Clean the data

In [24]:
# Look for missing value in data
df[df.isnull().any(axis = 1)]

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
373,374,156626,46447,2010-08-30 00:00:00,64.0,71.0,right,None,_0,41.0,...,61.0,39.0,62.0,61.0,57.0,15.0,14.0,13.0,10.0,12.0
374,375,156626,46447,2010-02-22 00:00:00,64.0,71.0,right,None,_0,41.0,...,61.0,58.0,62.0,61.0,57.0,6.0,20.0,45.0,20.0,20.0
375,376,156626,46447,2008-08-30 00:00:00,66.0,71.0,right,None,_0,41.0,...,61.0,58.0,67.0,61.0,57.0,6.0,20.0,45.0,20.0,20.0
376,377,156626,46447,2007-08-30 00:00:00,68.0,75.0,right,None,_0,41.0,...,61.0,58.0,69.0,64.0,57.0,6.0,20.0,45.0,20.0,20.0
377,378,156626,46447,2007-02-22 00:00:00,66.0,65.0,right,None,_0,41.0,...,61.0,55.0,66.0,63.0,57.0,6.0,9.0,45.0,13.0,10.0
392,393,202425,245653,2011-02-22 00:00:00,64.0,69.0,left,None,_0,47.0,...,52.0,42.0,64.0,65.0,62.0,11.0,5.0,15.0,10.0,10.0
393,394,202425,245653,2007-02-22 00:00:00,64.0,69.0,left,None,_0,47.0,...,52.0,42.0,64.0,65.0,62.0,11.0,5.0,15.0,10.0,10.0
446,447,52782,38423,2010-02-22 00:00:00,68.0,70.0,right,None,_0,60.0,...,NaN,47.0,52.0,50.0,NaN,7.0,20.0,62.0,20.0,20.0
447,448,52782,38423,2009-08-30 00:00:00,68.0,70.0,right,None,_0,60.0,...,NaN,47.0,52.0,50.0,NaN,7.0,20.0,62.0,20.0,20.0
448,449,52782,38423,2008-08-30 00:00:00,68.0,69.0,right,None,_0,60.0,...,NaN,47.0,52.0,50.0,NaN,7.0,20.0,62.0,20.0,20.0
449,450,52782,38423,2007-08-30 00:00:00,70.0,69.0,right,None,_0,60.0,...,NaN,47.0,52.0,50.0,NaN,7.0,20.0,62.0,20.0,20.0
450,451,52782,38423,2007-02-22 00:00:00,70.0,69.0,right,None,_0,60.0,...,NaN,47.0,72.0,70.0,NaN,7.0,7.0,62.0,12.0,5.0
451,452,51868,3264,2010-08-30 00:00:00,62.0,73.0,right,None,_0,49.0,...,66.0,41.0,30.0,34.0,36.0,13.0,7.0,7.0,9.0,13.0
452,453,51868,3264,2010-02-22 00:00:00,62.0,73.0,right,None,_0,49.0,...,66.0,62.0,30.0,34.0,36.0,11.0,20.0,27.0,20.0,20.0
453,454,51868,3264,2009-08-30 00:00:00,62.0,73.0,right,None,_0,49.0,...,66.0,62.0,30.0,34.0,36.0,11.0,20.0,27.0,20.0,20.0
454,455,51868,3264,2008-08-30 00:00:00,61.0,73.0,right,None,_0,49.0,...,66.0,62.0,30.0,34.0,36.0,11.0,20.0,27.0,20.0,20.0
455,456,51868,3264,2007-02-22 00:00:00,61.0,73.0,right,None,_0,49.0,...,66.0,62.0,30.0,34.0,36.0,11.0,20.0,27.0,20.0,20.0
478,479,33022,31684,2009-08-30 00:00:00,73.0,76.0,right,None,_0,56.0,...,NaN,68.0,76.0,75.0,NaN,5.0,23.0,71.0,23.0,23.0
479,480,33022,31684,2009-02-22 00:00:00,77.0,79.0,right,None,_0,68.0,...,NaN,69.0,83.0,78.0,NaN,5.0,23.0,76.0,23.0,23.0
480,481,33022,31684,2008-08-30 00:00:00,77.0,80.0,right,None,_0,68.0,...,NaN,69.0,83.0,78.0,NaN,5.0,23.0,76.0,23.0,23.0
481,482,33022,31684,2007-08-30 00:00:00,78.0,79.0,right,None,_0,72.0,...,NaN,69.0,80.0,76.0,NaN,5.0,23.0,76.0,23.0,23.0
482,483,33022,31684,2007-02-22 00:00:00,78.0,79.0,right,None,_0,72.0,...,NaN,69.0,80.0,76.0,NaN,5.0,10.0,76.0,10.0,7.0
483,484,33022,31684,2007-02-22 00:00:00,NaN,NaN,None,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
484,485,177295,32637,2010-02-22 00:00:00,61.0,65.0,right,None,_0,42.0,...,NaN,66.0,22.0,27.0,NaN,7.0,20.0,35.0,20.0,20.0
485,486,177295,32637,2009-08-30 00:00:00,56.0,65.0,right,None,_0,42.0,...,NaN,47.0,22.0,27.0,NaN,7.0,20.0,35.0,20.0,20.0
486,487,177295,32637,2009-02-22 00:00:00,66.0,76.0,right,None,_0,42.0,...,NaN,47.0,22.0,27.0,NaN,7.0,20.0,35.0,20.0,20.0
487,488,177295,32637,2008-08-30 00:00:00,66.0,76.0,right,None,_0,42.0,...,NaN,47.0,22.0,27.0,NaN,7.0,20.0,35.0,20.0,20.0
488,489,177295,32637,2007-08-30 00:00:00,72.0,76.0,right,None,_0,42.0,...,NaN,47.0,22.0,27.0,NaN,7.0,20.0,35.0,20.0,20.0
489,490,177295,32637,2007-02-22 00:00:00,59.0,70.0,right,None,_0,42.0,...,NaN,47.0,22.0,27.0,NaN,7.0,6.0,35.0,7.0,4.0
983,984,111085,29904,2007-02-22 00:00:00,NaN,NaN,None,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183445,183446,139083,25906,2009-08-30 00:00:00,72.0,74.0,right,None,3,72.0,...,NaN,74.0,41.0,36.0,NaN,8.0,23.0,68.0,23.0,23.0
183446,183447,139083,25906,2009-02-22 00:00:00,73.0,75.0,right,None,3,73.0,...,NaN,76.0,41.0,36.0,NaN,8.0,23.0,67.0,23.0,23.0
183447,183448,139083,25906,2008-08-30 00:00:00,74.0,75.0,right,None,3,73.0,...,NaN,76.0,41.0,36.0,NaN,8.0,23.0,67.0,23.0,23.0
183448,183449,139083,25906,2007-08-30 00:00:00,74.0,75.0,right,None,3,73.0,...,NaN,76.0,41.0,36.0,NaN,8.0,23.0,67.0,23.0,23.0
183449,183450,139083,25906,2007-02-22 00:00:00,73.0,77.0,right,None,3,73.0,...,NaN,64.0,41.0,36.0,NaN,8.0,6.0,65.0,10.0,9.0
183487,183488,28765,38843,2007-02-22 00:00:00,NaN,NaN,None,None,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183488,183489,177901,45308,2010-02-22 00:00:00,58.0,64.0,right,None,_0,38.0,...,NaN,66.0,51.0,52.0,NaN,10.0,20.0,48.0,20.0,20.0
183489,183490,177901,45308,2009-08-30 00:00:00,61.0,65.0,right,None,_0,39.0,...,NaN,67.0,52.0,53.0,NaN,10.0,20.0,49.0,20.0,20.0
183490,183491,177901,45308,2008-08-30 00:00:00,61.0,65.0,right,None,_0,39.0,...,NaN,67.0,52.0,53.0,NaN,10.0,20.0,49.0,20.0,20.0
183491,183492,177901,45308,2007-08-30 00:00:00,64.0,65.0,right,None,_0,41.0,...,NaN,69.0,54.0,55.0,NaN,10.0,20.0,51.0,20.0,20.0
183492,183493,177901,45308,2007-02-22 00:00:00,64.0,65.0,right,None,_0,41.0,...,NaN,69.0,54.0,55.0,NaN,10.0,20.0,51.0,20.0,20.0
183535,183536,51883,30850,2009-02-22 00:00:00,73.0,81.0,right,None,o,20.0,...,NaN,70.0,20.0,20.0,NaN,75.0,73.0,71.0,73.0,75.0
183536,183537,51883,30850,2008-08-30 00:00:00,77.0,81.0,right,None,o,20.0,...,NaN,70.0,20.0,20.0,NaN,82.0,75.0,78.0,73.0,78.0
183537,183538,51883,30850,2007-08-30 00:00:00,70.0,80.0,right,None,o,40.0,...,NaN,56.0,22.0,51.0,NaN,74.0,70.0,73.0,72.0,71.0
183538,183539,51883,30850,2007-02-22 00:00:00,70.0,80.0,right,None,o,40.0,...,NaN,56.0,22.0,51.0,NaN,74.0,70.0,73.0,72.0,71.0
183953,183954,111191,36491,2011-02-22 00:00:00,68.0,73.0,left,None,_0,64.0,...,66.0,61.0,67.0,71.0,59.0,15.0,13.0,5.0,6.0,6.0
183954,183955,111191,36491,2010-08-30 00:00:00,68.0,73.0,left,None,_0,64.0,...,66.0,61.0,71.0,71.0,59.0,15.0,13.0,5.0,6.0,6.0
183955,183956,111191,36491,2009-08-30 00:00:00,68.0,74.0,left,None,_0,64.0,...,66.0,61.0,71.0,71.0,59.0,4.0,21.0,61.0,21.0,21.0
183956,183957,111191,36491,2009-02-22 00:00:00,68.0,74.0,left,None,_0,64.0,...,66.0,61.0,71.0,71.0,59.0,4.0,21.0,61.0,21.0,21.0
183957,183958,111191,36491,2008-08-30 00:00:00,67.0,72.0,left,None,_0,62.0,...,66.0,61.0,61.0,62.0,59.0,4.0,21.0,61.0,21.0,21.0
183958,183959,111191,36491,2007-08-30 00:00:00,67.0,72.0,left,None,_0,62.0,...,66.0,61.0,43.0,52.0,59.0,4.0,21.0,52.0,21.0,21.0
183959,183960,111191,36491,2007-02-22 00:00:00,67.0,72.0,left,None,_0,62.0,...,66.0,61.0,43.0,52.0,59.0,4.0,21.0,52.0,21.0,21.0
183960,183961,47058,35506,2011-02-22 00:00:00,67.0,78.0,right,None,_0,48.0,...,63.0,45.0,65.0,66.0,65.0,14.0,7.0,15.0,10.0,12.0
183961,183962,47058,35506,2010-08-30 00:00:00,67.0,78.0,right,None,_0,48.0,...,63.0,45.0,65.0,66.0,65.0,14.0,7.0,15.0,10.0,12.0
183962,183963,47058,35506,2010-02-22 00:00:00,67.0,78.0,right,None,_0,48.0,...,63.0,70.0,65.0,66.0,65.0,14.0,25.0,51.0,25.0,25.0
183963,183964,47058,35506,2009-08-30 00:00:00,70.0,78.0,right,None,_0,48.0,...,63.0,70.0,70.0,74.0,65.0,14.0,25.0,51.0,25.0,25.0
183964,183965,47058,35506,2009-02-22 00:00:00,70.0,78.0,right,None,_0,48.0,...,63.0,70.0,70.0,74.0,65.0,14.0,25.0,51.0,25.0,25.0
183965,183966,47058,35506,2008-08-30 00:00:00,72.0,78.0,right,None,_0,48.0,...,63.0,70.0,76.0,78.0,65.0,14.0,25.0,51.0,25.0,25.0
183966,183967,47058,35506,2007-08-30 00:00:00,75.0,78.0,right,None,_0,48.0,...,63.0,70.0,76.0,78.0,65.0,14.0,25.0,51.0,25.0,25.0
183967,183968,47058,35506,2007-02-22 00:00:00,78.0,79.0,right,None,_0,38.0,...,63.0,72.0,79.0,84.0,65.0,14.0,9.0,48.0,7.0,11.0

### Drop the Null Values

In [28]:
df = df.dropna()

In [29]:
df.shape

(180354, 42)

### Extract Features and Target(""overall_rating) values into separate dataframes.

In [46]:
x = df[features]
x.shape

(180354, 34)

In [47]:
y = df[target]
y.shape

(180354, 1)

In [48]:
# Look for row from our features
x.iloc[2]

potential             66.0
crossing              49.0
finishing             44.0
heading_accuracy      71.0
short_passing         61.0
volleys               44.0
dribbling             51.0
curve                 45.0
free_kick_accuracy    39.0
long_passing          64.0
ball_control          49.0
acceleration          60.0
sprint_speed          64.0
agility               59.0
reactions             47.0
balance               65.0
shot_power            55.0
jumping               58.0
stamina               54.0
strength              76.0
long_shots            35.0
aggression            63.0
interceptions         41.0
positioning           45.0
vision                54.0
penalties             48.0
marking               65.0
standing_tackle       66.0
sliding_tackle        69.0
gk_diving              6.0
gk_handling           11.0
gk_kicking            10.0
gk_positioning         8.0
gk_reflexes            8.0
Name: 2, dtype: float64

In [49]:
y.head()

   overall_rating
0            67.0
1            67.0
2            62.0
3            61.0
4            61.0

In [50]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180354 entries, 0 to 183977
Data columns (total 34 columns):
potential             180354 non-null float64
crossing              180354 non-null float64
finishing             180354 non-null float64
heading_accuracy      180354 non-null float64
short_passing         180354 non-null float64
volleys               180354 non-null float64
dribbling             180354 non-null float64
curve                 180354 non-null float64
free_kick_accuracy    180354 non-null float64
long_passing          180354 non-null float64
ball_control          180354 non-null float64
acceleration          180354 non-null float64
sprint_speed          180354 non-null float64
agility               180354 non-null float64
reactions             180354 non-null float64
balance               180354 non-null float64
shot_power            180354 non-null float64
jumping               180354 non-null float64
stamina               180354 non-null float64
strength              180354 non-null float64
long_shots            180354 non-null float64
aggression            180354 non-null float64
interceptions         180354 non-null float64
positioning           180354 non-null float64
vision                180354 non-null float64
penalties             180354 non-null float64
marking               180354 non-null float64
standing_tackle       180354 non-null float64
sliding_tackle        180354 non-null float64
gk_diving             180354 non-null float64
gk_handling           180354 non-null float64
gk_kicking            180354 non-null float64
gk_positioning        180354 non-null float64
gk_reflexes           180354 non-null float64
dtypes: float64(34)
memory usage: 48.2 MB

In [51]:
x.describe()

,potential,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
count,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,...,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.000000,180354.00000
mean,73.479457,55.142071,49.962136,57.263476,62.486726,49.488927,59.265755,53.001408,49.392783,57.084578,...,57.868176,54.933448,46.757433,50.354065,48.029342,14.696685,15.947786,20.526304,16.015043,16.32531
std,6.581963,17.247231,19.041760,16.478716,14.172493,18.252319,17.741351,18.245476,17.820262,14.412035,...,15.152408,15.556645,21.226730,21.496289,21.592830,16.841454,15.841297,21.143898,16.070772,17.18545
min,39.000000,1.000000,1.000000,1.000000,3.000000,1.000000,1.000000,2.000000,1.000000,3.000000,...,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.00000
25%,69.000000,45.000000,34.000000,49.000000,57.000000,35.000000,52.000000,41.000000,36.000000,49.000000,...,49.000000,45.000000,25.000000,29.000000,25.000000,7.000000,8.000000,8.000000,8.000000,8.00000
50%,74.000000,59.000000,53.000000,60.000000,65.000000,52.000000,64.000000,56.000000,50.000000,59.000000,...,60.000000,57.000000,50.000000,56.000000,53.000000,10.000000,11.000000,12.000000,11.000000,11.00000
75%,78.000000,68.000000,65.000000,68.000000,72.000000,64.000000,72.000000,67.000000,63.000000,67.000000,...,69.000000,67.000000,66.000000,69.000000,67.000000,13.000000,15.000000,15.000000,15.000000,15.00000
max,97.000000,95.000000,97.000000,98.000000,97.000000,93.000000,97.000000,94.000000,97.000000,97.000000,...,97.000000,96.000000,94.000000,95.000000,95.000000,94.000000,93.000000,97.000000,96.000000,96.00000

### Spiltting the data set into train and test set

In [58]:
x_train,x_test,y_train,y_test = train_test_split(x,y , test_size = 0.33, random_state = 324 )

In [59]:
x_train.shape

(120837, 34)

In [60]:
y_train.shape

(120837, 1)

### (1) Linear Regression : Fit a model to training data set

In [61]:
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

### Perform Prediction using Linear Regression Model

In [64]:
y_prediction = regressor.predict(x_test)

In [65]:
## What we see the predicted score is within the range
y_prediction

array([[66.51284879],
       [79.77234615],
       [66.57371825],
       ...,
       [69.23780133],
       [64.58351696],
       [73.6881185 ]])

### What is the mean of the expected traget value in test set?

In [68]:
y_test.describe()

       overall_rating
count    59517.000000
mean        68.635818
std          7.041297
min         33.000000
25%         64.000000
50%         69.000000
75%         73.000000
max         94.000000

 ### Evaluate Linear Regression Accuracy using Root Mean Sqaure Error

In [70]:
### RMSE should be less than 1 or close to 0 in ideal condition
RMSE = sqrt(mean_squared_error(y_true = y_test,y_pred = y_prediction))
print(RMSE)

2.805303046855209

### (2) Decision Tree Regressor: Fit a new regression model to the training set

In [72]:
regressor = DecisionTreeRegressor(max_depth = 20)
regressor.fit(x_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=20, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

### Perform prediction using Decision Tree Regressor

In [75]:
y_prediction = regressor.predict(x_test) 
y_prediction

array([62.        , 84.        , 62.38666667, ..., 71.        ,
       62.        , 72.        ])

In [76]:
### RMSE should be less than 1 or close to 0 in ideal condition
RMSE = sqrt(mean_squared_error(y_true = y_test,y_pred = y_prediction))
print(RMSE)

1.4576449654245274

### It means Decision tree Model performed better than Linear Regression as we got RMSE value is less in Decision tree Model