In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import random
import os

In [2]:
# Get data into python
os.getcwd()

'C:\\Users\\nipin\\Documents\\Python\\edx\\World Development Indicator'

In [3]:
wdi = pd.read_csv("WDIData.csv", )

In [4]:
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Arab World,ARB,"2005 PPP conversion factor, GDP (LCU per inter...",PA.NUS.PPP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Arab World,ARB,"2005 PPP conversion factor, private consumptio...",PA.NUS.PRVT.PP.05,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arab World,ARB,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,82.407647,82.827636,83.169227,83.587141,83.954293,84.230630,84.570425,NaN,NaN,NaN
3,Arab World,ARB,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,86.136134,86.782683,87.288244,88.389705,88.076774,88.517967,88.768654,NaN,NaN,NaN
4,Arab World,ARB,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,74.543489,75.770972,76.772916,78.839139,77.487377,78.564439,78.958780,NaN,NaN,NaN

In [5]:
wdi.shape

(422136, 64)

In [6]:
type(wdi)

pandas.core.frame.DataFrame

In [7]:
wdi.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', 'Unnamed: 63'],
      dtype='object')

In [8]:
del wdi["Unnamed: 63"]

In [9]:
#id_vars["Country Name","Country Code","Indicator Name","Indicator Code"]
wdi = wdi.rename({"Country Name":"CountryName","Country Code":"CountryCode","Indicator Name":"IndicatorName","Indicator Code":"IndicatorCode"},axis = 1)

In [10]:
wdi.columns
wdi.shape

(422136, 63)

In [11]:
wdi.columns

Index(['CountryName', 'CountryCode', 'IndicatorName', 'IndicatorCode', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018'],
      dtype='object')

In [12]:
# Melting the data frame from wide format to long format
# Option 1, id_vars are those variables we need to keep them as it is,var_name - changing remaining columns into that variable
# name, value_name will be the values of var_name variables.
wdi1 = wdi.melt(id_vars = ["CountryName","CountryCode","IndicatorName","IndicatorCode"],
              var_name = "Year", value_name ="Values")

In [13]:
 wdi1.head(50)
wdi1.tail(50)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Values
24905974,Zimbabwe,ZWE,"Unemployment with basic education, male (% of ...",SL.UEM.BASC.MA.ZS,2018,NaN
24905975,Zimbabwe,ZWE,Unemployment with intermediate education (% of...,SL.UEM.INTM.ZS,2018,NaN
24905976,Zimbabwe,ZWE,"Unemployment with intermediate education, fema...",SL.UEM.INTM.FE.ZS,2018,NaN
24905977,Zimbabwe,ZWE,"Unemployment with intermediate education, male...",SL.UEM.INTM.MA.ZS,2018,NaN
24905978,Zimbabwe,ZWE,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.ZS,2018,5.662000
24905979,Zimbabwe,ZWE,"Unemployment, female (% of female labor force)...",SL.UEM.TOTL.FE.NE.ZS,2018,NaN
24905980,Zimbabwe,ZWE,"Unemployment, male (% of male labor force) (mo...",SL.UEM.TOTL.MA.ZS,2018,4.329000
24905981,Zimbabwe,ZWE,"Unemployment, male (% of male labor force) (na...",SL.UEM.TOTL.MA.NE.ZS,2018,NaN
24905982,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,2018,4.985000
24905983,Zimbabwe,ZWE,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.NE.ZS,2018,NaN
24905984,Zimbabwe,ZWE,"Unemployment, youth female (% of female labor ...",SL.UEM.1524.FE.ZS,2018,9.552000
24905985,Zimbabwe,ZWE,"Unemployment, youth female (% of female labor ...",SL.UEM.1524.FE.NE.ZS,2018,NaN
24905986,Zimbabwe,ZWE,"Unemployment, youth male (% of male labor forc...",SL.UEM.1524.MA.ZS,2018,7.042000
24905987,Zimbabwe,ZWE,"Unemployment, youth male (% of male labor forc...",SL.UEM.1524.MA.NE.ZS,2018,NaN
24905988,Zimbabwe,ZWE,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.ZS,2018,8.208000
24905989,Zimbabwe,ZWE,"Unemployment, youth total (% of total labor fo...",SL.UEM.1524.NE.ZS,2018,NaN
24905990,Zimbabwe,ZWE,Unmet need for contraception (% of married wom...,SP.UWT.TFRT,2018,NaN
24905991,Zimbabwe,ZWE,Urban land area (sq. km),AG.LND.TOTL.UR.K2,2018,NaN
24905992,Zimbabwe,ZWE,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.ZS,2018,NaN
24905993,Zimbabwe,ZWE,Urban land area where elevation is below 5 met...,AG.LND.EL5M.UR.K2,2018,NaN
24905994,Zimbabwe,ZWE,Urban population,SP.URB.TOTL,2018,NaN
24905995,Zimbabwe,ZWE,Urban population (% of total),SP.URB.TOTL.IN.ZS,2018,NaN
24905996,Zimbabwe,ZWE,Urban population growth (annual %),SP.URB.GROW,2018,NaN
24905997,Zimbabwe,ZWE,Urban population living in areas where elevati...,EN.POP.EL5M.UR.ZS,2018,NaN
24905998,Zimbabwe,ZWE,Urban poverty gap at national poverty lines (%),SI.POV.URGP,2018,NaN
24905999,Zimbabwe,ZWE,Urban poverty headcount ratio at national pove...,SI.POV.URHC,2018,NaN
24906000,Zimbabwe,ZWE,"Use of IMF credit (DOD, current US$)",DT.DOD.DIMF.CD,2018,NaN
24906001,Zimbabwe,ZWE,Use of insecticide-treated bed nets (% of unde...,SH.MLR.NETS.ZS,2018,NaN
24906002,Zimbabwe,ZWE,Value lost due to electrical outages (% of sal...,IC.FRM.OUTG.ZS,2018,NaN
24906003,Zimbabwe,ZWE,Vitamin A supplementation coverage rate (% of ...,SN.ITK.VITA.ZS,2018,NaN
24906004,Zimbabwe,ZWE,"Vulnerable employment, female (% of female emp...",SL.EMP.VULN.FE.ZS,2018,75.777999
24906005,Zimbabwe,ZWE,"Vulnerable employment, male (% of male employm...",SL.EMP.VULN.MA.ZS,2018,54.810001
24906006,Zimbabwe,ZWE,"Vulnerable employment, total (% of total emplo...",SL.EMP.VULN.ZS,2018,65.043000
24906007,Zimbabwe,ZWE,"Wage and salaried workers, female (% of female...",SL.EMP.WORK.FE.ZS,2018,23.774000
24906008,Zimbabwe,ZWE,"Wage and salaried workers, male (% of male emp...",SL.EMP.WORK.MA.ZS,2018,44.391998
24906009,Zimbabwe,ZWE,"Wage and salaried workers, total (% of total e...",SL.EMP.WORK.ZS,2018,34.330002
24906010,Zimbabwe,ZWE,Wanted fertility rate (births per woman),SP.DYN.WFRT,2018,NaN
24906011,Zimbabwe,ZWE,"Water productivity, total (constant 2010 US$ G...",ER.GDP.FWTL.M3.KD,2018,NaN
24906012,Zimbabwe,ZWE,Wholesale price index (2010 = 100),FP.WPI.TOTL,2018,NaN
24906013,Zimbabwe,ZWE,Women making their own informed decisions rega...,SG.DMK.SRCR.FN.ZS,2018,NaN
24906014,Zimbabwe,ZWE,Women participating in the three decisions (ow...,SG.DMK.ALLD.FN.ZS,2018,NaN
24906015,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REAS.ZS,2018,NaN
24906016,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.ARGU.ZS,2018,NaN
24906017,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.BURN.ZS,2018,NaN
24906018,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.GOES.ZS,2018,NaN
24906019,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.NEGL.ZS,2018,NaN
24906020,Zimbabwe,ZWE,Women who believe a husband is justified in be...,SG.VAW.REFU.ZS,2018,NaN
24906021,Zimbabwe,ZWE,Women who were first married by age 15 (% of w...,SP.M15.2024.FE.ZS,2018,NaN
24906022,Zimbabwe,ZWE,Women who were first married by age 18 (% of w...,SP.M18.2024.FE.ZS,2018,NaN
24906023,Zimbabwe,ZWE,Women's share of population ages 15+ living wi...,SH.DYN.AIDS.FE.ZS,2018,NaN

In [14]:
# Option 2 to melt to define the value_vars
# wdi_new =wdi.melt(id_vars= ["CountryName","CountryCode","IndicatorName","IndicatorCode"],
         #     value_vars = [1960, 1961, 1962, 1963, 1964, 1965,
                     #       1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977,1978, 1979, 1980, 1981,1982,1983,1984,1985,
                     #       1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000, 2001,2002, 2003,2004,2005,2006,
                      #     2007,2008,2009,2010,2011,2012,2013,2014,2015, 2016,2017, 2018],
              #  var_name = "Year", value_name= "Value")

In [15]:
wdi1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24906024 entries, 0 to 24906023
Data columns (total 6 columns):
CountryName      object
CountryCode      object
IndicatorName    object
IndicatorCode    object
Year             object
Values           float64
dtypes: float64(1), object(5)
memory usage: 1.1+ GB

In [16]:
# Convert year into category
wdi1.Year = wdi1.Year.astype("category")

In [17]:
wdi1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24906024 entries, 0 to 24906023
Data columns (total 6 columns):
CountryName      object
CountryCode      object
IndicatorName    object
IndicatorCode    object
Year             category
Values           float64
dtypes: category(1), float64(1), object(4)
memory usage: 973.8+ MB

In [18]:
# How many unique countries are there
wdi_uni_coun = wdi1["CountryName"].unique().tolist()
len(wdi_uni_coun)

264

In [19]:
# Country code should be same?
wdi_uni_cd = wdi1["CountryCode"].unique().tolist()
len(wdi_uni_cd)

264

In [20]:
# How many indicators
wdi_uni_ind = wdi1["IndicatorName"].unique().tolist()
len(wdi_uni_ind)

1599

In [21]:
# how many years of data we have
wdi_years = wdi1["Year"].unique().tolist()
len(wdi_years)

59

In [22]:
print(min(wdi_years),"to",max(wdi_years))

1960 to 2018

### Lets pick a country and indicator to explore: CO2 emission per capita and USA

In [23]:
hist_indicator = "CO2 emission\(metric"
hist_country = "USA"

In [24]:
mask1 = wdi_new["IndicatorName"].str.contains(hist_indicator)
mask2 = wdi_new["CountryCode"].str.contains(hist_country)

NameError: name 'wdi_new' is not defined

In [ ]:
# stage is just those indicator matching the USA for countrycode and Indicator name
stage = wdi_new[mask1 & mask2]

In [ ]:
stage.head()

In [ ]:
wdi_USA = wdi_new["CountryCode"]=="USA"
wdi_new[wdi_USA]

In [ ]:
hist_indicator = "GDP per capita \(constant 2005"
hist_country = "USA"
mask1 =wdi1["IndicatorName"].str.contains(hist_indicator)
mask2 = wdi1["CountryCode"].str.contains(hist_country)
len(mask2)
wd1i1[mask2].head()

In [ ]:
gdp_stage = wdi1[mask1 & mask2]
gdp_stage.head()